body{
  margin:0px;
}
.back1,.back2{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav{
  top: 0px;
  position: fixed;
  overflow: auto;
  background-color: black;
  width: 100%;
  float: left;
}
nav a{
  padding: 14px 16px;
  display: block;
  float:left;
  text-decoration: none;
  color: white;
  border-right: 1px solid #bbb;
  font-family: 'Roboto', sans-serif;
}
nav a:hover{
  background-color: grey;
}
.back1{
  background-image: url(back1.jpg);
  min-height: 800px;
}
.back2{
  background-image: url(back2.jpg);
  min-height: 800px;
}
.size1,.size2{
  width: 400px;
  height: 300px;
}
.size2{
  padding-left: 50px;
}
.animate:hover{
  animation-name: zoomin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.animate{
  animation-name: zoomout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes zoomin {
  from{
    width: 580px;
    height: 500px;
  }
  to {
    width: 640px;
    height: 426px;
  }
}
@keyframes zoomout {
  from{
    width: 640px;
    height: 426px;
  }
  to {
    width: 580px;
    height: 500px;
  }
}
.text{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
hr{
  margin-top: 50px;
  margin-bottom: 50px;
}
.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}
.captionback{
  color:white;
  background-color: black;
  /*text-align: center;*/
  padding: 50px 80px;
}
.sidemenu {
  width: 300px;
  top: 0px;
  right: -360px;
  height: 100%;
  position: fixed;
  background-color: black;
}
.sidemenu:hover{
  animation-name: slidein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.sidemenu{
  animation-name: slideout;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes slidein{
  from {
    right: -270px;
  }
  to {
    right: 0px;
  }
}
@keyframes slideout{
  from {
    right: 0px;
  }
  to {
    right: -270px;
  }
}
.sidemenu a{
  width: 100%;
  padding: 35px 0px 35px 30px;
  display: block;
  text-decoration: none;
  color: white;
  /* border-bottom: 1px solid #bbb; */
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
.articleimg{
  height: 100%;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}